alter table DeliveryOrderMaster add SalesInvoiceNo int
alter table deletedDeliveryOrderMaster add SalesInvoiceNo int


alter table DeliveryOrderDetails add SD_Qty2 float,SD_Qty3 float
alter table deletedDeliveryOrderDetails add SD_Qty2 float,SD_Qty3 float
