 

 alter table services add EmpIdReservationDateTime datetime ,EmpIdRemainingDateTime datetime 
 alter table deletedservices add EmpIdReservationDateTime datetime ,EmpIdRemainingDateTime datetime 
