alter table ProfitRatioDetails add DayDate datetime not null default '2000-1-1'

go
select * into Teachers from Credits where 1=2

go


--*********Riviera Only ************************************************
select * from LinkFile
delete LinkFile where Id=14
insert LinkFile select 14,'المدرسين','Teachers',1