alter table DeliveryOrderMaster add Value float
alter table DeliveryOrderMaster add SaveId int
alter table deletedDeliveryOrderMaster add Value float
alter table deletedDeliveryOrderMaster add SaveId int
