update Customers set receiver_name=name where isnull(receiver_name,'')='' 
update Customers set receiver_address_country='EG' where isnull(receiver_address_country,'')=''
update Customers set receiver_address_governate='الإسكندرية' where isnull(receiver_address_governate,'')=''
update Customers set receiver_address_regionCity='الإسكندرية' where isnull(receiver_address_regionCity,'')=''
update Customers set receiver_id='' where isnull(receiver_id,'')=''