alter table UnitsTypes alter column	Price float 
alter table UnitsTypes alter column		Area float 
alter table Suppliers	 alter column	Bal0 float 
alter table Stores	 alter column	MinValuePerPerson float 
alter table Stores	 alter column	ServicePerc float 
alter table Stores	 alter column	TaxPerc float 
alter table Stores	 alter column	DelivaryCost float 
alter table Statics	 alter column	S_Per1 float 
alter table Statics	 alter column	S_Per2 float 
alter table Statics	 alter column	S_Per3 float 
alter table Statics	 alter column	S_Per4 float 
alter table Statics	 alter column	P_Per1 float 
alter table Statics	 alter column	P_Per2 float 
alter table Statics	 alter column	P_Per3 float 
alter table Statics	 alter column	P_Per4 float 
alter table ServiceTypes	 alter column	DrValue float 
alter table ServiceTypes	 alter column	CsValue float 
alter table ServiceTypes	 alter column	CoValue float 
alter table Services	 alter column	DrValue float 
alter table Services	 alter column	CsValue float 
alter table Services	 alter column	CoValue float 
alter table Services	 alter column	Value float 
alter table Services	 alter column	Payed float 
alter table Services	 alter column	Remaining float 
alter table Sellers	 alter column	Bal0 float 
alter table Saves	 alter column	Bal0 float 
alter table SalesMaster	 alter column	MinPerPerson float 
alter table SalesMaster	 alter column	ServiceValue float 
alter table SalesMaster	 alter column	Taxvalue float 
alter table SalesMaster	 alter column	CashValue float 
alter table SalesMaster	 alter column	DiscountPerc float 
alter table SalesMaster	 alter column	DiscountValue float 
alter table SalesMaster	 alter column	Total float 
alter table SalesMaster	 alter column	Per1 float 
alter table SalesMaster	 alter column	Val1 float 
alter table SalesMaster	 alter column	Per2 float 
alter table SalesMaster	 alter column	Val2 float 
alter table SalesMaster	 alter column	Per3 float 
alter table SalesMaster	 alter column	Val3 float 
alter table SalesMaster alter column		Per4 float 
alter table SalesMaster alter column		Val4 float 
alter table SalesMaster alter column		TotalAfterDiscount float 
alter table SalesDetails alter column		Qty float 
alter table SalesDetails alter column		Price float 
alter table SalesDetails alter column		QtySub float 
alter table SalesDetails alter column		PriceSub float 
alter table SalesDetails alter column		Value float 
alter table SalesDetails alter column		UnitQty float 
alter table SalaryHistory alter column		Value1 float 
alter table SalaryHistory alter column		Value2 float 
alter table SalaryHistory alter column		Value3 float 
alter table SalaryHistory alter column		Value4 float 
alter table SalaryHistory alter column		Value5 float 
alter table SalaryHistory alter column		Value6 float 
alter table SalaryHistory alter column		Value7 float 
alter table SalaryHistory alter column		Value8 float 
alter table SalaryHistory alter column		Value9 float 
alter table SalaryHistory alter column		Value10 float 
alter table SalaryHistory alter column		Value11 float 
alter table SalaryHistory alter column		Value12 float 
alter table SalaryHistory alter column		Value13 float 
alter table SalaryHistory alter column		Value14 float 
alter table SalaryHistory alter column		Value15 float 
alter table SalaryHistory alter column		Value16 float 
alter table SalaryHistory alter column		Value17 float 
alter table SalaryHistory alter column		Value18 float 
alter table SalaryHistory alter column		Value19 float 
alter table SalaryHistory alter column		Value20 float 
alter table SalaryHistory alter column		Total float 
alter table SalaryHistory alter column		Fund float 
alter table SalaryHistory alter column		TotalAfterFund float 
alter table SalaryHistory alter column		GM float 
alter table SalaryHistory alter column		GM4Year float 
alter table SalaryHistory alter column		Early float 
alter table SalaryHistory alter column		OverTime float 
alter table SalaryHistory alter column		Holidays float 
alter table SalaryHistory alter column		Late float 
alter table SalaryHistory alter column		Absence float 
alter table SalaryHistory alter column		HourValue float 
alter table SalaryHistory alter column		DayValue float 
alter table SalaryHistory alter column		DeductedFridays float 
alter table SalaryHistory alter column		LateOver float 
alter table SalaryHistory alter column		Execuse float 
alter table SalaryHistory alter column		ShiftCount float 
alter table SalaryHistory alter column		ShiftValue float 
alter table SalaryHistory alter column		Salary float 
alter table SalaryHistory alter column		Tax float 
alter table SalaryHistory alter column		Income float 
alter table SalaryHistory alter column		IncomeOnly float 
alter table SalaryHistory alter column		OutcomeOnly float 
alter table SalaryHistory alter column		Bonus float 
alter table SalaryHistory alter column		Allowance float 
alter table SalaryHistory alter column		Insurance float 
alter table SalaryHistory alter column		TotalBonus float 
alter table SalaryHistory alter column		TotalCut float 
alter table SalaryHistory alter column		SpAllowance float 
alter table Reservations	 alter column	Value float 
alter table Reservations	 alter column	Payed float 
alter table Reservations	 alter column	Remaining float 
alter table PutInBank	 alter column	Value float 
alter table OutCome	 alter column	Value float 
alter table NolonPrices alter column		Price1 float 
alter table NolonPrices	 alter column	Price2 float 
alter table NolonPrices	 alter column	Price3 float 
alter table NolonPrices	 alter column	Price4 float 
alter table NolonPrices	 alter column	Price5 float 
alter table Nolon	 alter column	Value float 
alter table Nolon	 alter column	Payed float 
alter table Nolon	 alter column	Remaining float 
alter table Nolon	 alter column	Tips float 
alter table Nolon	 alter column	Value2 float 
alter table Nolon	 alter column	Tips2 float 
alter table Nolon	 alter column	Payments float 
alter table Nolon	 alter column	OtherPayments float 
alter table Loans	 alter column	Value float 
alter table Items	 alter column	PurchasePrice float 
alter table Items	 alter column	PurchasePriceSub float 
alter table Items	 alter column	SalesPrice float 
alter table Items	 alter column	SalesPriceSub float 
alter table Items	 alter column	PurchasePriceSub2 float 
alter table Items	 alter column	SalesPriceSub2 float 
alter table Items	 alter column	Limit float 
alter table Invoices alter column		Value float 
alter table Income	 alter column	Value float 
alter table Employees alter column		Tax float 
alter table Employees alter column		BasicSalary float 
alter table Employees alter column		Allowance float 
alter table Employees alter column		Salary float 
alter table Employees alter column		ConsultationPrice float 
alter table Employees alter column		DetectionPrice float 
alter table Employees alter column		ShiftCount float 
alter table Employees alter column		ShiftValue float 
alter table Employees alter column		Bonus float 
alter table Employees alter column		LateAllowance float 
alter table Employees alter column		Insurance float 
alter table Employees alter column		Annual float 
alter table Employees alter column		NoofDaysOff float 
alter table Employees alter column		NoofMonthlyExecuses float 
alter table Employees alter column		HolidayWorkValue float 
alter table Employees alter column		DelayValue float 
alter table Employees alter column		OvertimeValue float 
alter table Employees alter column		SpAllowance float 
alter table Drivers	 alter column	Bal0 float 
alter table DirectCut	 alter column	value float 
alter table DirectBonus alter column		value float 
alter table DeletedSalesMaster alter column		MinPerPerson float 
alter table DeletedSalesMaster alter column		ServiceValue float 
alter table DeletedSalesMaster alter column		Taxvalue float 
alter table DeletedSalesMaster alter column		CashValue float 
alter table DeletedSalesMaster alter column		DiscountPerc float 
alter table DeletedSalesMaster alter column		DiscountValue float 
alter table DeletedSalesMaster alter column		Total float 
alter table DeletedSalesMaster alter column		Per1 float 
alter table DeletedSalesMaster alter column		Val1 float 
alter table DeletedSalesMaster alter column		Per2 float 
alter table DeletedSalesMaster alter column		Val2 float 
alter table DeletedSalesMaster alter column		Per3 float 
alter table DeletedSalesMaster alter column		Val3 float 
alter table DeletedSalesMaster alter column		Per4 float 
alter table DeletedSalesMaster alter column		Val4 float 
alter table DeletedSalesMaster alter column		TotalAfterDiscount float 
alter table DeletedSalesDetails alter column		Qty float 
alter table DeletedSalesDetails alter column		Price float 
alter table DeletedSalesDetails	 alter column	QtySub float 
alter table DeletedSalesDetails	 alter column	PriceSub float 
alter table DeletedSalesDetails	 alter column	Value float 
alter table DeletedSalesDetails	 alter column	UnitQty float 
alter table Debits alter column		Bal0 float 
alter table Customers alter column		Bal0 float 
alter table Customers alter column		DescPerc float 
alter table CustomerInvoicesDt alter column		Value float 
alter table Credits alter column		Bal0 float 
alter table Cities	 alter column	FundInitialBal float 
alter table CHART222 alter column		MODB1 float 
alter table CHART222 alter column		MODB2 float 
alter table CHART222 alter column		MODB3 float 
alter table CHART222 alter column		MODB4 float 
alter table CHART222 alter column		MODB5 float 
alter table CHART222 alter column		MODB6 float 
alter table CHART222 alter column		MODB7 float 
alter table CHART222 alter column		MODB8 float 
alter table CHART222 alter column		MODB9 float 
alter table CHART222 alter column		MODB10 float 
alter table CHART222 alter column		MODB11 float 
alter table CHART222 alter column		MODB12 float 
alter table CHART222 alter column		MOCR1 float 
alter table CHART222 alter column		MOCR2 float 
alter table CHART222 alter column		MOCR3 float 
alter table CHART222 alter column		MOCR4 float 
alter table CHART222 alter column		MOCR5 float 
alter table CHART222 alter column		MOCR6 float 
alter table CHART222 alter column		MOCR7 float 
alter table CHART222 alter column		MOCR8 float 
alter table CHART222 alter column		MOCR9 float 
alter table CHART222 alter column		MOCR10 float 
alter table CHART222 alter column		MOCR11 float 
alter table CHART222 alter column		MOCR12 float 
alter table CHART222 alter column		INITIAL_BAL float 
alter table CHART222 alter column		CURRENT_BAl float 
alter table Charity alter column		Value float 
alter table Cases	 alter column	BasicSalary float 
alter table Banks	 alter column	Bal0 float 
alter table BankCash2 alter column		Value float 
alter table BankCash alter column		Value float 
alter table Attendance alter column		DayValue float 
alter table Attendance alter column		hh float 
alter table Attendance alter column		mm float 
alter table Attendance alter column		HourValue float 
alter table Attendance alter column		DelayMinutes float 
alter table Attendance alter column		OverMinutes float 
alter table Attendance alter column		DayPerc float 
alter table Areas	 alter column	DelivaryCost float 
alter table Appartements alter column		Area float 
